* {
    margin: 0%;
    padding: 0%;
}

@media(min-width:800px) {
    .main {
        display: flex;
        flex-wrap: wrap;
    }

    .profile-picture {
        margin: 0% 0% 3% -30%;
        width: 60%;
    }

    .contact .personal-contact {
        margin: 0% 15% 5% 15%;
    }
}

@media(max-width:800px) {
    .main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .profile-picture {
        position: absolute;
        top: 20%;
        right: 5%;
        width: 20%;
    }

    .contact .personal-contact {
        margin: 3% 15% 5% 15%;
    }
    .
}


/*Fonts*/
@font-face {
    src: url('./fonts/grand-hotel-regular.ttf');
    font-family: 'grand-hotel-regular'
}

@font-face {
    src: url('./fonts/proxima-nova-black.ttf');
    font-family: 'proxima-nova-black'
}

@font-face {
    src: url('./fonts/proxima-nova-bold.ttf');
    font-family: 'proxima-nova-bold'
}

@font-face {
    src: url('./fonts/proxima-nova-extrabold.ttf');
    font-family: 'proxima-nova-extrabold'
}

@font-face {
    src: url('./fonts/proxima-nova-light.ttf');
    font-family: 'proxima-nova-light'
}

@font-face {
    src: url('./fonts/proxima-nova-regular.ttf');
    font-family: 'proxima-nova-regular'
}

@font-face {
    src: url('./fonts/proxima-nova-semibold.ttf');
    font-family: 'proxima-nova-semibold'
}

@font-face {
    src: url('./fonts/proxima-nova-thin.ttf');
    font-family: 'proxima-nova-thin'
}







/*About Section*/
.about {
    color: white;
    flex: 0.6;
    background: #22223B;
}

.about nav {
    margin: 7% 50% 12% 12%;
    font-family: 'proxima-nova-regular';
    font-size: 24px;
}

.about ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.about li {
    width: 33%;
}

.about nav a {
    color: white;
    text-decoration: none;
}

.about .summary {
    margin: 0% 27% 15% 12%;
    display: flex;
    flex-direction: column;
}

.about .summary h1 {
    font-family: 'grand-hotel-regular';
    font-size: 100px;
    margin-bottom: 3%;
}

.about .summary h2 {
    font-family: 'proxima-nova-light';
    font-size: 40px;
    margin-bottom: 20%;
}

.about .summary p {
    font-family: 'proxima-nova-light';
    font-size: 24px;
    line-height: 1.9;
}





/*Contact Section*/
.contact {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #F2E9E4;
}

.contact .personal-contact h1 {
    font-family: 'proxima-nova-bold';
    font-size: 35px;
    margin-bottom: 5%;
}

.contact .personal-contact p {
    font-family: 'proxima-nova-regular';
    font-size: 24px;
    line-height: 2.1;
}

.contact .social-media {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin: 0% 15% 15% 15%;
}

.contact .social-media img {
    width: 60%;
}

.profile-picture {
    border-radius: 50%;
    box-shadow: 0px 0px 4px;
}

footer {
    background: #191716;
    padding: 1%;
    font-family: 'proxima-nova-regular';
    color: white;
    text-align: center;
}